.employee-table {
    border-collapse: collapse;
}

.employee-table td, .employee-table th {
    padding: 4px;
    border: 1px solid #CCC;
}

.header-divide {
    padding: 0 4px 0 4px;
}

.login-failure {
    color: maroon;
    font-weight: bold;
    padding: 8px;
}